*{
    box-sizing: border-box;
    outline: 0;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}
header {
    background-color: #05001f;
    padding: 20px;
    text-align: left;
    color: rgb(211, 209, 209);
    font-size: small;
}
nav {
    /* float: left; */
    /* width: 30%; */
    height: fit-content;
    background-color: #40d348;
    padding: 20px;
    color: rgb(255, 2, 2);
}
nav ul{
    list-style-type: disc;
}
nav ul li {
    display: inline-block;
    color: #ce1d1d;
    padding: 10px;
}

nav ul li a{
    text-decoration: none;  
    color: #ce1d1d;

}
article {
    /* float: right; */
    /* width: 70%; */
    padding: 20px;
    background-color: #3100e4;
    color: rgb(158, 247, 227);
}



.aafdsfasdfasd{
    background-color: red;
    /* color: rgb(158, 247, 227); */
}

.secondArticle{
    background-color: green
}

.secondArticle h1{
    color: blue;
}

.thirdArticle{
    background-color: blue;
}
.thirdArticle h1{
    color: rgb(131, 5, 47);
}

.fourthArticle{
    background-color: rgb(6, 130, 134);
}
.fourthArticle h1{
    color: rgb(233, 198, 0);
}

#portable {
    /* float: right; */
    /* width: 70%; */
    padding: 20px;

}
#about {
    /* float: left; */
    /* width: 30%; */
    height: fit-content;
    padding: 20px;
    background-color: #000000;
    color: rgb(255, 255, 255);

}


.parentWrapper{
 display: flex;
}
.leftSide{
    width: 30%;
}

.rightSide{
    width: 70%;
}

footer{
    text-align: center;
    margin-top: 2rem;
}

.cricket{
    width: 100%;
}